.container{
    margin: 8px;
}

#userInputContainer{
    display: flex;
    gap: 20px;
}

#container{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 464px;
    height: 464px;
}

.row{
    display: flex;
    flex-grow: 1;
    height: 30px;
    margin: 0;

}

.col{
    flex-grow: 1;
}

