.container{
    margin: 8px;
}

#userInputContainer{
    display: flex;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: flex-start;
    border: 2px solid black;
    width: 464px;
}

.row{
    display: flex;
    height: 30px;
    border: 2px solid black;   
}

.col{
    width: 25px;
    height: 25px;
    border: 2px solid black;   
}

.colorDiv{
    width: 25px;
    height: 25px;
    border: 2px solid black;
}
